<?xml version='1.0' encoding='utf-8'?>
<widget id="com.hendi.brainpuzzle" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Brain Puzzle</name>
    <description>A creative puzzle game that challenges your mind with tricky solutions!</description>
    <author email="dev@example.com" href="https://example.com">Hendi</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="30" />
    <preference name="AndroidLaunchMode" value="singleTop" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <plugin name="cordova-plugin-statusbar" spec="^3.0.0" />
    <plugin name="cordova-plugin-device" spec="^2.1.0" />
    <plugin name="cordova-plugin-screen-orientation" spec="^3.0.2" />
</widget>
